<div>
  <input type="text" #todoContent>
  <button (click)="addTodo(todoContent.value)">Add Todo</button>
</div>
<h1>Active</h1>
<ul class="todos">
  <li *ngFor="let todo of (todos | async | todoFilter:false)">
    <div>Content: {{ todo.content }}</div>
    <button (click)="changeStatus(todo, true)">Complete</button>
  </li>
</ul>
<h1>Completed</h1>
<ul class="todos">
  <li *ngFor="let todo of (todos | async | todoFilter:true)">
    <div>Content: {{ todo.content }}</div>
    <button (click)="changeStatus(todo, false)">Reactive</button>
  </li>
</ul>
